POSTGRES_DB=postgres
POSTGRES_USER=throughere
POSTGRES_PASSWORD=
POSTGRES_DATABASE_URL="postgresql://throughere:password@localhost:5432/postgres"
TZ=Europe/Kyiv
RENSHUU_API_READ_KEY=
RENSHUU_API_READ_WRITE_KEY=
